body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */

.intro {
    width: 100%;
    height: 100vh;
    background: url("img/intro.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 700px;
}

.intro_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 66px;
    font-weight: 700;
    font-family: font-family: 'Kurale', serif;
    color: rgb(226 226 180);
    text-shadow: #44370e 1px 1px 0, #44370e-1px -1px 0, 
    #44370e -1px 1px 0, #44370e 1px -1px 0;
}

/* Nav */
.nav {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin:0 15px;
    position: relative;
    color: rgb(255 244 235);
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    background-color: rgb(72 39 7);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
} 

.nav_link:hover {
    color: rgb(72 39 7);
}

.nav_link:hover:after {
  opacity: 1;

}

/* Slider */
.slider {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
}
    
.slider_item {
    display: inline-block;
    vertical-align: top;
    margin:0 60px;
    position: relative;
    color: rgb(255 244 235);
    text-decoration: none;
    transition: color .1s linear;
}

.slider_item:after {
    content: "";
    display: block;
    width: 100%;
    height: 3%;

    background-color: rgb(72 39 7);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
} 

.slider_item:hover {
    color: rgb(72 39 7);
}

.slider_item:hover:after {
  opacity: 1;
}

/* Section */

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_subtitle {
    font-size:24px;
    color: rgb(255 244 235);
}
.section_subtitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color:  #652604 ;
}

.section_text {
    font-size: 15px;
    color: rgb(255 244 235);
}

.section_title {
    font-size: 20px;
    color: rgb(255 244 235);
}

/* Card */

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.card_item {
    width: 380px;
}

.card_inner {
    background-color: aquamarine;
    position: relative;
}

.card_item:hover .card_img img {
    transform: translate3d(-5px, -5px, 0);
}

.card_item:hover .card_img img {
    opacity: .7;
}

.card_item:hover .card_text {
    opacity: 1;
}

.card_img {
    background: linear-gradient(#7d7fee, #ad6442);
    transition: transform .6s linear;
}

.card_img img {
    display: block;
    transition: opacity .1s linear;
    max-width: 100%;
    height: auto;
}

.card_text {
    width: 100%;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    font-size: 700;
    text-align: center;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .1s linear;
}

.card_info {
    margin-top: 20px;
    text-align: center;
}

.card_name {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

.card_prof {
    color: black;
    font-size: 15px;
    font-weight: 300;
}

/* Statistics */

.statistics {
    background-color: #070f17;
}

.stat {
    display: flex;
}
.stat_item {
    flex: 1 1 0;
    border-left: 1px solid #151125;
    text-align: center;
    color: #ad6442;
    padding: 70px 25px;
}

.stat_item:last-child {
    border-right: 1px solid #151125;
}

.stat_count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social_item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #070f17;
    border-right: 1px solid #151125;
    text-decoration: none;
    color: azure;
    font-size: 30px;
    line-height: 1;

    transition: background .1s linear, color .1s linear;
}

.social_item:last-child {
    border-right: 0;
}

.social_item:hover {
    color: #ad6442;
    background-color: azure ;

}

/* Works */

.works {
    display: flex;
}
.works_col {
    flex: 1 1 0;
}
.works_item {
    position: relative;
}
.works_image {
    width: 100%;
    height: auto;

    
}

.footer_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section_text {
    display: inline-block;
    vertical-align: top;
    margin:0 15px 0px 0px;
    position: relative;
    
}

.section_map {
    display: inline-block;
    vertical-align: top;
    margin:0 15px 0px 0px;
    position: relative;
    border: solid 1px #857065;
    border-radius: 7px;
}